build-SerialPort-Desktop_Qt_5_9_3_GCC_64bit-Debug/*
SerialPort/*.user
SerialPort/*.pro.user
SerialPort/*.pro.*
*.bin
*.d
*.dfu
*.dll
*.elf
*.exe
*.generated.h
*.hex
*.lst
*.o
*.obj
*.px4
*.pyc
*.tlog
*.tlog.raw
*.vbrain
*.vrx
*.zip
*~
.*.swo
.*.swp
*.i
*.ii
.DS_Store
.autotools
.built
.context
.cproject
.depend
.directory
.metadata/
.project
.settings/
.tags
.tags_sorted_by_file
.vagrant
*.apj
